@import './base.css';

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

main {
  flex: 1;
}

a,
.green {
  text-decoration: none;
  color: #4bc0d9;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(75, 191, 217, 0.2);
  }
}

@media (min-width: 1024px) {
}
